
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 252 10% 97%;
    --foreground: 245 18% 14%;

    --card: 0 0% 100%;
    --card-foreground: 245 18% 14%;

    --popover: 0 0% 100%;
    --popover-foreground: 245 18% 14%;

    --primary: 267 26% 54%;
    --primary-foreground: 210 40% 98%;

    --secondary: 200 97% 48%;
    --secondary-foreground: 210 40% 98%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 24 94% 53%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 267 26% 54%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 267 26% 54%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .hero-gradient {
    @apply bg-gradient-to-r from-prepace-purple via-prepace-blue to-prepace-purple bg-size-200 bg-pos-0 hover:bg-pos-100 transition-all duration-500;
  }
}
